@page "/"
@using PayloadClient.Interfaces
@using PayloadClient.Models

@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (Restaurants != null && Restaurants.Any())
{
    @foreach (var restaurant in Restaurants)
    {
        <div class="card">
            <img src="@restaurant.Image.Url" alt="@restaurant.Image.Alt" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">@restaurant.Name</h5>
                <p class="card-text">@restaurant.Description</p>
                <p class="card-text"><small class="text-muted">Address: @restaurant.Address</small></p>
            </div>
        </div>
    }
}
else
{
    <p>No restaurants available.</p>
}

@if (MenuItems != null && MenuItems.Any())
{
    @foreach (var menuItem in MenuItems)
    {
        <p>@menuItem.Name</p>
    }
}
else
{
    <p>No menu items available.</p>
}

@code {
    [Inject] public required IRestaurantRepository RestaurantRepository { get; set; }

    [Inject] public required IMenuItemRepository MenuItemRepository { get; set; }
    
    [Inject] public required IUserRepository UserRepository { get; set; }

    public IEnumerable<Restaurant> Restaurants { get; set; } = new List<Restaurant>();

    public IEnumerable<MenuItem> MenuItems { get; set; } = new List<MenuItem>();

    public IEnumerable<User> Users { get; set; } = new List<User>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            //Restaurants = await RestaurantRepository.GetByNameAsync("Pita");
            MenuItems = await MenuItemRepository.GetAllAsync();
            //Users = await UserRepository.GetAllAsync("eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY3NjgxN2M2YmY1ODc2ZGU0MmZhZjViZiIsImNvbGxlY3Rpb24iOiJ1c2VycyIsImVtYWlsIjoiZHV0cmlldXgubGlvbmVsQGdtYWlsLmNvbSIsImlhdCI6MTczNDk1MjEzMSwiZXhwIjoxNzM0OTU5MzMxfQ.7StGBgXdZreCI4pEn_kW_agrXbUnlT86Ixg-tiw6HD8");
        }
        catch (Exception e)
        {
            // TODO handle exception
            Console.Error.WriteLine($"Error fetching restaurants: {e.Message}");
        }
    }
}